.mediaViewInfo {
	--web-view-name: Joint Ventures And Collabrations;
	--web-view-id: Joint_Ventures_And_Collabrations;
	--web-enable-scale-up: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Joint_Ventures_And_Collabrations;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Joint_Ventures_And_Collabrations {
	position: absolute;
	width: 1366px;
	height: 1035px;
	background-color: rgba(1,27,46,1);
	overflow: hidden;
	--web-view-name: Joint Ventures And Collabrations;
	--web-view-id: Joint_Ventures_And_Collabrations;
	--web-enable-scale-up: true;
	--web-enable-deep-linking: true;
}
#images1213193_h {
	filter: blur(0px);
	fill: url(#images1213193_h);
}
.images1213193_h {
	display: none;
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1057.5px;
	left: 0px;
	top: 0px;
}
#BACKGROUND {
	fill: rgba(1,117,160,1);
}
.BACKGROUND {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 1366px;
	height: 56px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Umeed {
	left: 194px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(238,238,238,1);
}
#LOGO {
	mix-blend-mode: normal;
	position: absolute;
	width: 46px;
	height: 31.984px;
	left: 140px;
	top: 12px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(1,117,160,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 45.889px;
	height: 8.208px;
	left: 0px;
	top: 23.776px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(11,157,211,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 20.193px;
	height: 26.113px;
	transform: translate(0px, 0.322px) matrix(1,0,0,1,24.5164,4.5523) rotate(-4deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_3 {
	fill: rgba(238,238,238,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 12.812px;
	height: 29.523px;
	transform: translate(0px, 0.322px) matrix(1,0,0,1,32.677,0.1975) rotate(-2deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Ellipse_1 {
	fill: rgba(238,238,238,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 0.158px;
	top: 0px;
}
#A_joint_venture_is_a_strategic {
	left: 140px;
	top: 222px;
	position: absolute;
	overflow: visible;
	width: 519px;
	height: 107px;
	line-height: 25.200000762939453px;
	margin-top: -3.6000003814697266px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(238,238,238,1);
	letter-spacing: 0.1px;
}
#By_using_our_platform_one_can_ {
	left: 140px;
	top: 778px;
	position: absolute;
	overflow: visible;
	width: 519px;
	height: 154px;
	line-height: 25.200000762939453px;
	margin-top: -3.6000003814697266px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(238,238,238,1);
	letter-spacing: 0.1px;
}
#Joint_Venture_Advantages_Exten {
	left: 140px;
	top: 353px;
	position: absolute;
	overflow: visible;
	width: 519px;
	height: 389px;
	line-height: 25.200000762939453px;
	margin-top: -3.6000003814697266px;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(238,238,238,1);
	letter-spacing: 0.1px;
}
#Joint_Ventures_And_Collabratio {
	left: 230px;
	top: 89px;
	position: absolute;
	overflow: visible;
	width: 323px;
	white-space: nowrap;
	text-align: left;
	font-family: Optima;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(238,238,238,1);
}
#Rectangle_57 {
	fill: rgba(1,44,75,1);
}
.Rectangle_57 {
	position: absolute;
	overflow: visible;
	width: 374px;
	height: 373px;
	left: 806px;
	top: 172px;
}
#Rectangle_53 {
	position: absolute;
	width: 364px;
	height: 363px;
	left: 792px;
	top: 158px;
	overflow: visible;
}
#Group_94 {
	position: absolute;
	width: 72px;
	height: 72px;
	left: 140px;
	top: 89px;
	overflow: visible;
}
#Path_4 {
	fill: rgba(1,117,160,1);
	stroke: rgba(1,27,46,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4 {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 72px;
	height: 72px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Partnership {
	position: absolute;
	width: 38px;
	height: 38px;
	left: 17px;
	top: 17px;
	overflow: visible;
}
#Rectangle_4 {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
}
#Vector {
	fill: rgba(11,157,211,1);
}
.Vector {
	overflow: visible;
	position: absolute;
	width: 34.548px;
	height: 27.86px;
	left: 1.8px;
	top: 5.683px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_99 {
	position: absolute;
	width: 180px;
	height: 56px;
	left: 142px;
	top: 958px;
	overflow: visible;
}
#Rectangle_63 {
	fill: rgba(4,40,65,1);
}
.Rectangle_63 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 56px;
	left: 0px;
	top: 0px;
}
#All_Services {
	left: 59px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(238,238,238,1);
}
#Group_98 {
	transform: translate(-142px, -510px) matrix(1,0,0,1,155,523) rotate(180deg);
	transform-origin: center;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_51 {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Rectangle_51 {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Path_32 {
	fill: transparent;
	stroke: rgba(238,238,238,1);
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_32 {
	overflow: visible;
	position: absolute;
	width: 11.096px;
	height: 19.351px;
	left: 10.297px;
	top: 7.61px;
	transform: matrix(1,0,0,1,0,0);
}